name: Recently used Metrics

on:
  # Roda a cada 24 horas (diariamente) para atualizar o gráfico
  schedule:
    - cron: '0 0 * * *'
  # Permite rodar o workflow manualmente pela aba "Actions"
  workflow_dispatch:

jobs:
  github-metrics:
    # O runner (ambiente) que irá executar a ação
    runs-on: ubuntu-latest
    
    steps:
      - uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.languages.recent.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_languages: yes
          plugin_languages_ignored: >-
              html, css, tex, less, dockerfile, makefile, qmake, lex, cmake, shell,
              gnuplot
          plugin_languages_sections: recently-used
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 4
